{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Teste Django DB</title>

        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static "teste_App/css/style.css" %}" />

        {% bootstrap_javascript %}
        <script src="{% static "teste_App/js/jquery.min.js" %}"></script>
    </head>
    <body>
        <nav class="navbar bg-light">
            <div class="container">
                <a class="navbar-brand text-black" href="/">Teste Django DB</a>
            </div>
        </nav>
        <div class="container mt-3">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
